@tailwind base;
@tailwind components;
@tailwind utilities;

/* Budget slider */
input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  background: #d1e4ff;
  border-radius: 99px;
}
input[type=range]::-webkit-slider-thumb {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #0061a4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  box-shadow: 0 4px 12px rgba(0, 97, 164, 0.3);
  border: 4px solid white;
}